<div class="col">
  <div class="card tf-project-card h-100">
    <img src="{{ site.baseurl }}/{{ include.page.image }}" class="tf-card-img-top" alt="{{ include.page.title }}">
    <div class="card-body">
      <div class="tf-card-date">{{ include.page.date }}</div>
      <h5 class="card-title">{{ include.page.title }}</h5>
      <p class="card-text">{{ include.page.summary }}</p>
      <div>
        {% for label in include.page.labels %}
        <span class="tf-badge me-1 mb-1">{{ label }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="card-footer">
      {% if page.projecturl %}
      <a href="{{ page.projecturl }}" class="btn tf-btn">Project Site</a>
      {% else %}
      <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn tf-btn">Read More</a>
      {% endif %}
    </div>
  </div>
</div>
