<div class="tf-hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center mb-4 mb-lg-0">
        <img width="240px" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle tf-profile-img" alt="{{ site.data.bio.basics.name }}">
      </div>
      <div class="col-lg-8">
        <p class="tf-hero-label">{{ site.data.bio.basics.label }}</p>
        <h1 class="display-5 mb-3">{{ site.data.bio.basics.name }}</h1>
        <p class="lead">{{ site.data.bio.basics.summary }}</p>
        <hr>
        <p class="tf-interests m-0">
          <span style="text-transform:uppercase;letter-spacing:0.06em;font-size:0.78rem;color:#475569;">Interests &nbsp;</span>
          <span class="tf-interests-values">
            {% for interest in site.data.bio.interests %}{{ interest.name }}{% if forloop.last != true %} &middot; {% endif %}{% endfor %}
          </span>
        </p>
        <hr>
        <div class="row">

          {% if site.data.bio.basics.website %}
            {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='house' %}
            </div>
          {% endif %}

          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='envelope' %}
            </div>
          {% endif %}

          {% for profile in site.data.bio.basics.profiles %}
            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name=name %}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
